org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
beans-8.0.1.jar
inputFiles.lst
poms/jobs/process/connect_ftp_0.1/target

**/jobInfo.properties
.JETEmitters/
.Java/
.metadata/
code/routines/system/*.*
temp/
sqlPatterns/
.settings
poms/
#talend.project
#.project
